<nav class="left drawer l">
    <div hx-trigger="load" hx-get="/header.html"></div>

    <a href="#/" hx-get="/home.html" hx-target="#content">
      <i>home</i>
      <div>Home</div>
    </a>


    <a href="#/models-list" hx-get="/components/models-list.html" hx-target="#content">
      <div>Models List</div>
    </a>

    <a href="#/prompt-generate" hx-get="/components/prompt-generate.html" hx-target="#content">
      <div>Prompt Generate + Context</div>
    </a>

    <a href="#/model-prompt-generate" hx-get="/components/model-prompt-generate.html" hx-target="#content">
      <div>Model Prompt Generate</div>
    </a>

</nav>
